In [1]:
# Zero Based Permutation

In [2]:
nums = [0,2,1,5,3,4]

ans = [0,1,2,4,5,3]

In [9]:
a = []

for i in range(len(nums)):
    a.append(nums[nums[i]])

print(a)

[0, 1, 2, 4, 5, 3]

In [10]:
# Concatenation of Array

In [11]:
nums = [1, 2, 3]

ans = [1, 2, 3, 1, 2, 3]

In [12]:
print(nums+nums)

[1, 2, 3, 1, 2, 3]

In [13]:
# Sum of 1D array

In [14]:
nums=[1,2,3,4]
ans=[1,3,6,10]

In [15]:
for i in range(1, len(nums)):
    nums[i] = nums[i-1]+nums[i]

print(nums)

[1, 3, 6, 10]

In [16]:
# Richest customer wealth

In [17]:
accounts = [[1, 2, 3], [2, 3, 6], [3, 2, 1]]

In [24]:
print(accounts[0][0])

1

In [27]:
ans = accounts[0][0]

for i in range(len(accounts)):
    count=0
    for j in range(len(accounts[i])):
        count+=accounts[i][j]

    if(count > ans):
        ans = count

In [28]:
print(ans)

11

In [35]:
# Shuffle the array

nums = [2,5,1,3,4,7]
n = 3

In [38]:
a = []
b = []

for i in range(n):
    a.append(nums[i])

for i in range(n, len(nums)):
    b.append(nums[i])

ans = []

for i in range(len(a)):
    ans.append(a[i])
    ans.append(b[i])

print(ans)

[2, 3, 5, 4, 1, 7]