In [1]:
# Zero Based Permutation

In [19]:
nums = [0,2,1,5,3,4]

ans = [0,1,2,4,5,3]

In [20]:
a = []

for i in range(len(nums)):
    a.append(nums[nums[i]])

print(a)

[0, 1, 2, 4, 5, 3]

In [10]:
# Concatenation of Array

In [11]:
nums = [1, 2, 3]

ans = [1, 2, 3, 1, 2, 3]

In [12]:
print(nums+nums)

[1, 2, 3, 1, 2, 3]

In [13]:
# Sum of 1D array

In [14]:
nums=[1,2,3,4]
ans=[1,3,6,10]

In [15]:
for i in range(1, len(nums)):
    nums[i] = nums[i-1]+nums[i]

print(nums)

[1, 3, 6, 10]

In [16]:
# Richest customer wealth

In [17]:
accounts = [[1, 2, 3], [2, 3, 6], [3, 2, 1]]

In [24]:
print(accounts[0][0])

1

In [27]:
ans = accounts[0][0]

for i in range(len(accounts)):
    count=0
    for j in range(len(accounts[i])):
        count+=accounts[i][j]

    if(count > ans):
        ans = count

In [28]:
print(ans)

11

In [35]:
# Shuffle the array

nums = [2,5,1,3,4,7]
n = 3

In [38]:
a = []
b = []

for i in range(n):
    a.append(nums[i])

for i in range(n, len(nums)):
    b.append(nums[i])

ans = []

for i in range(len(a)):
    ans.append(a[i])
    ans.append(b[i])

print(ans)

[2, 3, 5, 4, 1, 7]

In [1]:
#smaller than current number

In [5]:
nums = [8,1,2,2,3]

smaller=[]

for i in nums:
    count=0
    for j in nums:
        if(j<i):
            count+=1
    smaller.append(count)

print(smaller)

[4, 0, 1, 1, 3]

In [1]:
#Extra candies

In [13]:
candies = [2,3,5,1,3]
extraCandies = 3

# Find Max
max=candies[0]

for i in candies:
    if(i > max):
        max = i

# Compare
ans = []

for j in candies:
    ans.append(j+extraCandies>=max)

print(ans)

[True, True, True, False, True]

In [14]:
# Number of Good pairs

In [20]:
nums = [1,2,3,1,1,3]

count = 0

for i in range(len(nums)):
    for j in range(i+1, len(nums)):
        if(nums[i]==nums[j]):
            count+=1

print(count)

4

In [21]:
# Create target array

In [22]:
nums = [0,1,2,3,4]
index = [0,1,2,2,1]

target = []

for i in range(len(nums)):
    target.insert(index[i], nums[i])

print(target)

[0, 4, 1, 3, 2]

In [26]:
# Pangram is a sentence which contains every letter of english language

In [31]:
sentence = "thequickbrownfoxjumpsoverthelazydog"

alphabets = "abcdefghijklmnopqrstuvwxyz"

condition=True

for i in alphabets:
    if i not in sentence:
        condition = False
        break

print(condition)

True

In [ ]:
# Items matching a rule

In [1]:
# Type, color, name

items = [["phone","blue","pixel"],["computer","silver","lenovo"],["phone","gold","iphone"]]

ruleKey = "color"
ruleValue = "blue"

count = 0
for i in items:
    if(ruleKey=="type"):
        if(i[0] == ruleValue):
            count+=1

    if(ruleKey=="color"):
        if(i[1] == ruleValue):
            count+=1

    if(ruleKey=="name"):
        if(i[2] == ruleValue):
            count+=1

print(count)

1

In [7]:
# two sum

In [16]:
nums = [2,7,11,15]
target = 17
for i in range(len(nums)):
    for j in range(1,len(nums)):
        if(nums[i]+nums[j]==target):
            print([i,j])

[0, 3]

In [2]:
# Find max altitude

In [5]:
gain = [-4,-3,-2,-1,4,3,2]

max_altitude=0
current_altitude=0

for gain_altitude in gain:
    current_altitude+=gain_altitude
    max_altitude = max(current_altitude, max_altitude)

print(max_altitude)

0

In [6]:
# Flipping the Image

In [37]:
image = [[1,1,0],[1,0,1],[0,0,0]]

output = [[1,0,0],[0,1,0],[1,1,1]]

In [39]:
for i in range(len(image)):
    for j in range(len(image[i])):
        # Invert
        if(image[i][j]==1):
            image[i][j]=0
        else:
            image[i][j]=1

# Reverse
for i in range(len(image)):
    s = 0
    e = len(image[i]) - 1
    while s <= e:
        image[i][s], image[i][e] = image[i][e], image[i][s]
        s += 1
        e -= 1

In [40]:
print(image)

[[0, 1, 1], [0, 1, 0], [1, 1, 1]]

In [41]:
# Number with even number of digits

In [42]:
nums = [12,345,2,6,7896]

In [50]:
even_numbers = 0

for i in range(len(nums)):
    a = nums[i]

    count = 0
    while(a != 0):
        a = a//10
        count+=1
    if(count%2 == 0):
        even_numbers+=1

print(even_numbers)

2

In [51]:
# Plus One

In [26]:
digits = [1,2,3,9]

output = [1, 2, 4]

In [29]:
# Convert array to number
number = 0
for digit in digits:
    number = number * 10 + digit

# Increment number by one
number+=1

# Convert number to ans array
ans = []
while number > 0:
    digit = number % 10
    ans.insert(0, digit)
    number = number // 10

print(ans)

1240
[1, 2, 4, 0]

In [33]:
# Cells with odd values

m = 2
n = 3
indices = [[0,1],[1,1]]

In [41]:
matrix = [[0] * n for _ in range(m)]

for index in indices:
    row, col = index[0], index[1]

    matrix[row] = [x + 1 for x in matrix[row]]

    for i in range(m):
        matrix[i][col] += 1

# count = sum(cell % 2 == 1 for row in matrix for cell in row)
count = 0
for i in range(len(matrix)):
    for j in range(len(matrix[i])):
        if(matrix[i][j]%2 == 1):
            count+=1

print(count)

6

In [6]:
# Matrix diagonal sum

# All elements in a square matrix where column and row indices are equal are on diagonal

In [20]:
mat = [[5]]

In [21]:
count = 0
for i in range(len(mat)):
    for j in range(len(mat[i])):
        if(i==j):
            count+=mat[i][j]

for i in range(len(mat)):
    for j in range(len(mat[i])):
        if(i+j == len(mat)-1):
            count+=mat[i][j]

if(len(mat)%2 != 0):
    count = count - mat[len(mat)//2][len(mat)//2]


print(count)

5

In [32]:
sum=0
for i in range(len(mat)):
    for j in range(len(mat[i])):
        if(i==j):
            sum+=mat[i][j]

for i in range(len(mat)):
    for j in range(len(mat[i])):
        if(i+j==len(mat)-1):
            sum+=mat[i][j]

if(len(mat)%2!=0):
    sum-=mat[len(mat)//2][len(mat)//2]

print(sum)

8

In [33]:
#transpose of a matrix

In [53]:
matrix = [[1,2,3], [4,5,6]]

In [54]:
ans = [[0] * len(matrix) for _ in range(len(matrix[0]))]

for i in range(len(matrix)):
    for j in range(len(matrix[i])):
        ans[j][i] = matrix[i][j]

print(ans)

[[1, 4], [2, 5], [3, 6]]

In [ ]:
# Add to array form of number

In [55]:
num = [1,2,0,0]
k = 34

In [57]:
# Convert array to number
number = 0
for digit in num:
    number = number * 10 + digit

# Increment number by one
number+=k

# Convert number to ans array
ans = []
while number > 0:
    digit = number % 10
    ans.insert(0, digit)
    number = number // 10

print(ans)

[1, 2, 3, 4]

In [70]:
15425//10

1542